@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cookie;
  src: url(Cookie-Regular.ttf);
  font-display: swap;
}

body {
  @apply p-0 m-0 bg-white sm:bg-gray-100 text-gray-900;
  /* @apply dark:bg-black dark:text-white; */

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html.dark body {
  @apply bg-black text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiTooltip-tooltip {
  @apply bg-neutral-800;
}

.MuiTooltip-arrow {
  @apply text-neutral-800;
}
